<launch>
  
  <!-- <include file="$(find vrpn_client_ros)/launch/sample.launch" /> -->
  <!-- <include file="$(find mavros)/launch/px4_sim.launch" /> -->

  <node pkg="quarotor_feedback_controller" type="quarotor_feedback_controller0" name="vehicle0" output="screen">
    <rosparam file="$(find quarotor_feedback_controller)/config/param.yaml" command="load" />
  </node>

  <node pkg="quarotor_feedback_controller" type="SendCommandCircle" name="SendCommandCircle" output="screen">
    <!-- <rosparam file="$(find quarotor_feedback_controllecr)/config/param.yaml" command="load" /> -->
  </node>
  
  <node pkg="quarotor_feedback_controller" type="vel.py" name="CaculateVel" output="screen">
    <!-- <rosparam file="$(find quarotor_feedback_controller)/config/param.yaml" command="load" /> -->
  </node>

    
</launch>
